<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  script(type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js")
  link(href="/css/PixelPainter.css" rel="stylesheet" media="screen")
  title Pixel Painter
body
  h1 Pixel Painter
  
  div(id="pixelPainter")

    //- using '-' before code in jade allows you to use regular javascript
    //- colorGrid
    - var colorId = 0;
    #colorGrid.container
      - for (var column = 0; column < x; column++)
          div.row
            - for (var row = 0; row < y; row++)
              - colorId++
                div(id="colorCell#{colorId}" class="cell")

    - var paintId = 0;
    #paintGrid.container
      - for (var column = 0; column < a; column++)
          div.row
            - for (var row = 0; row < b; row++)
              - paintId++
                div(id="paintCell#{paintId}" class="cell")

    div#paintInfo
      form(method="POST", action="/save")
        h2 Author
        input(type="text", name="author", placeholder="Author's Name")
        h2 Description
        textarea(type="text", name="description" placeholder="Brief Description")

    div
      button(id="eraseButton" class="button" name="button") Erase

      button(id="clearButton" class="button" name="button") Clear

      button(id="saveButton" class="button" name="button") Save

  script(src="/js/PixelPainter.js")