<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Layout
body
  div(id="colorGrid" class="container")
  div(id="paintGrid" class="container")

  button(id="eraseButton" class="button") Erase
  button(id="clearButton" class="button") Clear
  button(id="saveButton" class="button") Save

